doctype html
html(lang='de')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" type="text/css" href="static/css/style.css")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    body
        #page-wrap
            #header INVOICE
            #identity
                #address
                    p #{config.name}
                    p #{config.street}
                    p #{config.city}
                    p #{config.phone}
                #logo
                    img#image(src='static/img/your-logo.png', alt='logo')
            #customer
                #title
                    p #{invoice.customer.project}
                    p #{invoice.customer.customer}
                    p #{invoice.customer.address}
                    p #{invoice.customer.city}
                table#meta
                    tr
                        td.meta-head Invoice &#8470
                        td #{invoice.invoice.no}
                    tr
                        td.meta-head Date
                        td#date #{date}
                    tr
                        td.meta-head Amount Due
                        td.due $875.00
            table#items
                tr
                    th Item
                    th Description
                    th Unit Cost
                    th Quantity
                    th Price
                tr.item-row
                    td.item-name Item
                    td.description  Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)
                    td.cost $650.00
                    td.qty 1
                    td.price $650.00
                tr
                    td.blank(colspan='2')
                    td.total-line(colspan='2') Subtotal
                    td.total-value
                        #subtotal $875.00
                tr
                    td.blank(colspan='2')
                    td.total-line(colspan='2') Total
                    td.total-value  $875.00
                tr
                    td.blank(colspan='2')
                    td.total-line.balance(colspan='2') Balance Due
                    td.total-value.balance.due $875.00
            #terms
                h5 Terms
                | NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.
